### Predictions

In [9]:
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score

#### Load the data

In [4]:
df = pd.read_csv('../data/processed/final.csv')
X = df.drop(columns='Churn Value')
y = df['Churn Value'].values

In [ ]:
# Split into training and test, train model

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lda = LinearDiscriminantAnalysis(solver='svd')
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis()

**Predicting single row of test set**

In [15]:
sample = df.sample(1)
sample

,Tenure Months,Monthly Charges,Churn Score,CLTV,county,Gender_Male,Senior Citizen_Yes,Partner_Yes,Dependents_Yes,Phone Service_Yes,...,Streaming TV_Yes,Streaming Movies_No internet service,Streaming Movies_Yes,Contract_One year,Contract_Two year,Paperless Billing_Yes,Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check,Churn Value
5206,0.416667,0.607463,0.768421,0.144986,18,0,0,0,0,1,...,1,0,1,1,0,1,1,0,0,0

In [16]:
lda.predict(sample.drop(columns='Churn Value'))

array([0], dtype=int64)

**Overall test performance**

In [11]:
lda_score = recall_score(y_test, lda.predict(X_test))
lda_score

0.904891304347826